* {
  color: white;
}

.cash-container {
  background-color: hsl(0, 7%, 97%);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.user-info {
  width: 80%;
  background-color: #150b3e;
}
.user-initial {
  background-color: #c7d2fe;
  border-radius: 30px;
  padding: 20px;
  margin: 10px;
}
.profile {
  display: flex;
  margin: 10px;
  padding: 10px;
}
.balance-info {
  display: flex;
  margin: 20px;
}
.dec{
  margin: 30px;
}
.balance {
  color: #585076;
  display: flex;
  flex-grow: 1;
  font-size: 30px;
}
.balance-amount {
  font-size: 50px;
}
.rupees {
  text-align: right;
  font-family: 'Roboto';
  font-size: 20px;
  margin-right: 20px;
}
